[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address={{ ansible_default_ipv4.address }}

# Mysql Slave Configuration
gtid_mode=ON
read_only
log_slave_updates=1
enforce_gtid_consistency
expire_logs_days=7
server_id={{ server_id }}
